<div class="container-fluid" style="background-color:#52514f;">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="colorwhite" style="font-size:30px;">Easy Solution</h1>
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <img src="images/pic_weixin_code.png" alt="微信" />
                            <br /><span class="colorwhite" style="color:#8a8a8a;font-size:12px;">官方微信：kinco步科</span>
                        </div>
                        <div class="col-md-12">
                            &nbsp;<br /><br />
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2" style="padding-right:0px;padding-left:0px;">
                                <img src="images/icon_tel.png" alt="电话" />
                            </div>
                            <div class="col-md-9" style="padding-left:20px;">
                                <h1 class="colorwhite empty" style="padding-bottom:5px;font-size:22px;">400 700 5281</h1>
                                <h5 class="colorwhite empty">销售/技术支持热线/企业QQ</h5>
                                <h5 class="empty" style="color:#8a8a8a">(周一至周五 8:30~17:30)</h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2" style="padding-right:0px;padding-left:0px;padding-top:5px;">
                                <img src="images/icon_email.png" alt="email.png" />
                            </div>
                            <div class="col-md-9" style="padding-left:20px;">
                                <h5 class="empty" style="color:#a1a1a2">&nbsp;</h5>
                                <a href="mailto:sales@kinco.cn"><h4 class="empty" style="color:#fefefe">sales@kinco.cn</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">产品中心</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" href="product/hmi/index.htm">人机界面</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="product/plc/index.htm">PLC</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="product/servo/index.htm">伺服</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="product/stepper/index.htm">步进</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="product/vfd/index.htm">变频器</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="product/smartfactory/index.htm">智慧工厂</a></h5></dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">行业方案</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/factory/index.htm">智慧工厂</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/logistics/index.htm">物流自动化</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/pack/index.htm">印刷包装</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/armarium/index.htm">医药行业</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/ccc/index.htm">3C行业</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/energy/index.htm">新能源行业</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="solution/auto/index.htm">汽车行业</a></h5></dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">资料下载</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" href="download/software/all/index.htm">软件</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="download/model/all/index.htm">选型手册</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="download/use/all/index.htm">使用手册</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="download/cad/all/index.htm">CAD/3D图纸</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="download/accredit/all/index.htm">资质认证</a></h5></dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">客户服务</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" href="service/repair/index.htm">售后维修</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="service/qa/index.htm">常见问题</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="service/ku/index.htm">步科大学</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="service/bbs/index.htm">技术论坛</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="service/terms/index.htm">服务条款</a></h5></dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">关于步科</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" href="about/profile/index.htm">公司简介</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/histroy/index.htm">公司历史</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/culture/index.htm">公司文化</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/company-dynamic/index.htm">公司动态</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/product-dynamic/index.htm">产品动态</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/environmental/index.htm">环保预案</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="about/talents/index.htm">人才招聘</a></h5></dd>
                            </dl>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <dl>
                                <dt><h3 class="colorwhite">联系我们</h3></dt>
                                <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                <dd><h5><a class="colorwhite" target="_blank" href="../crm2.qq.com/page/portalpage/wpa_BBB2CFEE.php">在线客服</a></h5></dd>
                                <dd><h5><a class="colorwhite" href="contact/index.htm">办事处联系方式</a></h5></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-12" class="beian001" style="height:50px;">
                    <h5 style="color:#8a8a8a" class="beian001">版权所有© 2015 步科 <a href="../www.miitbeian.gov.cn/index.htm" class="beian001" style="text-decoration:none">粤ICP备05082025号</a></h5>
                </div>
            </div>
        </div>
        <!-- 代码部分begin -->
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            a, img {
                border: 0;
            }

            body {
                font: 12px/180% Arial, Helvetica, sans-serif, "宋体";
            }
            /* suspend */
            .suspend {
                width: 40px;
                height: 198px;
                position: fixed;
                top: 200px;
                right: 0;
                overflow: hidden;
                z-index: 9999;
            }

                .suspend dl {
                    width: 120px;
                    height: 198px;
                    border-radius: 25px 0 0 25px;
                    padding-left: 40px;
                    box-shadow: 0 0 5px #e4e8ec;
                }

                    .suspend dl dt {
                        width: 40px;
                        height: 198px;
                        background: url(http://www.kinco.cn/images/suspend.png);
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                    }

                    .suspend dl dd.suspendQQ {
                        width: 120px;
                        height: 85px;
                        background: #ffffff;
                    }

                        .suspend dl dd.suspendQQ a {
                            width: 120px;
                            height: 85px;
                            display: block;
                            background: url(/images/suspend.png) -40px 0;
                            overflow: hidden;
                        }

                    .suspend dl dd.suspendTel {
                        width: 120px;
                        height: 112px;
                        background: #ffffff;
                        border-top: 1px solid #e4e8ec;
                    }

                        .suspend dl dd.suspendTel a {
                            width: 120px;
                            height: 112px;
                            display: block;
                            background: url(/images/suspend.png) -40px -86px;
                            overflow: hidden;
                        }

            * html .suspend {
                position: absolute;
                left: expression(eval(document.documentElement.scrollRight));
                top: expression(eval(document.documentElement.scrollTop+200));
            }

            .beian001 {
                color: #8a8a8a;
            }

                .beian001 A:link {
                    COLOR: #8a8a8a;
                    TEXT-DECORATION: none;
                }

                .beian001 A:visited {
                    COLOR: #8a8a8a;
                    TEXT-DECORATION: none;
                }

                .beian001 A:hover {
                    COLOR: #FFFF00;
                    TEXT-DECORATION: none;
                }

                .beian001 A:active {
                    COLOR: #8a8a8a;
                    TEXT-DECORATION: none;
                }
        </style>


        <div class="suspend">
            <script charset="utf-8" src="../wpa.b.qq.com/cgi/wpa.php"></script>
            <script type="text/javascript">
                BizQQWPA.addCustom({ aty: '0', a: '0', nameAccount: 4007005281, selector: 'BizQQWPA' });
            </script>
            <div id="BizQQWPA">
                <dl>
                    <dt class="IE6PNG"></dt>
                    <dd class="suspendQQ"><a target="_blank" href="javascript:;"></a></dd>
                    <dd class="suspendTel"><a href="javascript:void(0);"></a></dd>
                </dl>
            </div>
            <script src="js/jquery.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $(".suspend").mouseover(function () {
                        $(this).stop();
                        $(this).animate({ width: 160 }, 400);
                    });
                    $(".suspend").mouseout(function () {
                        $(this).stop();
                        $(this).animate({ width: 40 }, 400);
                    });
                });
            </script>
            <!-- 代码部分end -->
            <!-- Scripts -->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <!--<script src="/js/jquery.min.js"></script> -->
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.pin.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js"></script>

            <script type="text/javascript">

                function showMenu() {
                    if (document.body.scrollTop < 120) {
                        $('#navMenu').removeClass('navbar-fixed-top');
                        $('#navMenu').addClass('navbar-static-top');
                    } else {
                        $('#navMenu').removeClass('navbar-static-top');
                        $('#navMenu').addClass('navbar-fixed-top');
                    }
                }

                function setScroll(num) {
                    $(window).scrollTop(num);
                }

                $('#languagelink').popover();

                window.onscroll = showMenu;
            </script>



        </div>
    </div>
</div>