@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><strong>行业方案</strong></h1>
        </div>
        <div class="col-md-6 text-right">
            <h1>
                <a href="other/index.htm" class="btn btn-sm btn-danger"><strong>其它行业</strong></a>
                <a href="index.htm" class="btn btn-sm btn-danger"><strong>所有案例</strong></a>
            </h1>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;border-top:2px dotted #dcdcdc;">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row emptyhome">
        <a href="factory/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-left solution-list-factory">
                <h3 class="text-center solution-title">智慧工厂</h3>
            </div>
        </a>
        <a href="logistics/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-middle solution-list-logistics">
                <h3 class="text-center solution-title">物流自动化</h3>
            </div>
        </a>
        <a href="pack/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-middle solution-list-pack">
                <h3 class="text-center solution-title">印刷包装</h3>
            </div>
        </a>
        <a href="armarium/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-middle solution-list-armarium">
                <h3 class="text-center solution-title">医药行业</h3>
            </div>
        </a>
        <a href="ccc/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-middle solution-list-3c">
                <h3 class="text-center solution-title">3C行业</h3>
            </div>
        </a>
        <a href="energy/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-middle solution-list-energy">
                <h3 class="text-center solution-title">新能源行业</h3>
            </div>
        </a>
        <a href="auto/index.htm" class="all">
            <div class="col-sm-4 col-md-4 def-lg-7 col-xs-6 solution-list-right solution-list-auto">
                <h3 class="text-center solution-title">汽车行业</h3>
            </div>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover" style="table-layout:fixed;">
                    <thead>
                        <tr class="table-head-th">
                            <th style="width:25%">方案名称</th>
                            <th style="width:50%;border-left:2px solid #ffffff;border-right:2px solid #ffffff;">方案概述</th>
                            <th style="width:25%">相关产品</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_E68D8416" class="colorblack">Kinco伺服在药液杂质灯检机上的应用</a>
                            </td>
                            <td class="hy-body-text">
                                Kinco伺服，为药品安全保驾护航
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_EB62FC3A" class="colorblack">中空玻璃全自动打胶机自动化解决方案</a>
                            </td>
                            <td class="hy-body-text">
                                步科全套自动化解决方案的应用
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_4817534F" class="colorblack">Kinco 变频器在上海地铁排污设备上的应用</a>
                            </td>
                            <td class="hy-body-text">
                                转子泵是一个大转矩负载，Kinco SV100变频器良好的驱动转子泵同时，还展现了其优越的性能
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_15E38C13" class="colorblack">Kinco smart factory 超轻解决方案的成功应用</a>
                            </td>
                            <td class="hy-body-text">
                                君权基于步科智慧工厂解决方案成功构建了一个轻量级透明工厂解决方案。
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_A99BB70C" class="colorblack">Kinco 变频器在工业洗衣机上的应用</a>
                            </td>
                            <td class="hy-body-text">
                                Kinco SV113系列工业洗衣机专用变频器具有启动力矩大、运行平稳、故障保护措施完善等功能。
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_78F0A374" class="colorblack">步科HP100中频电源在臭氧发生器应用</a>
                            </td>
                            <td class="hy-body-text">
                                Kinco  HP100电源，提高系统的可靠性和耐久性，提高臭氧的产生效率
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_A3ACB11C" class="colorblack">步科伺服在全自动烟草分拣线的应用</a>
                            </td>
                            <td class="hy-body-text">
                                步科CD系列伺服让烟草分拣设备分拣更高效更可靠
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_D9AA034C" class="colorblack link-hyfa">SMC60S-0020-30E□K-3LKH</a>
                                <a href="../productById_4B5BD958" class="colorblack link-hyfa">CD422S-AA-000</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_F29E35AC" class="colorblack">Kinco步科低压伺服系统助力物流自动化行业变革</a>
                            </td>
                            <td class="hy-body-text">
                                物流自动化行业专用伺服系统，助力物流自动化行业变革
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_9058A8FE" class="colorblack link-hyfa">SME60S-0020-30AAK-3DKH</a>
                                <a href="../productById_755F7509" class="colorblack link-hyfa">SMH40S-0005-30A○K-4DKH</a>
                                <a href="../productById_84646593" class="colorblack link-hyfa">SMH40S-0010-30A○K-4DKH</a>
                                <a href="../productById_9FE0E07D" class="colorblack link-hyfa">FD122-CA-000</a>
                                <a href="../productById_E6552922" class="colorblack link-hyfa">FD122-LA-000</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_7E6E2070" class="colorblack">步科SV101四象限变频器在磕头机上的应用</a>
                            </td>
                            <td class="hy-body-text">
                                步科SV101四象限变频器是KINCO旗下生产的一款绿色能量回馈，高性能矢量型变频器，支持VF控制，开环矢量控制，转矩控制，具有自动转矩提升，自动滑差补偿，标配485等功能，能够驱动异步电机以及同步电机，应用在磕头机，离心机，提升类负载及制动频繁和惯量大的场合；
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_9EF54616" class="colorblack link-hyfa">SV101&minus;4T&minus;0370G</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_E1A255C8" class="colorblack">锂电池方型卷绕恒线速控制解决方案</a>
                            </td>
                            <td class="hy-body-text">
                                锂电池卷绕机的种类主要有方型半自动卷绕机、方型全自动卷绕机、圆型全自动卷绕机三种，这里主要介绍方型全自动卷绕机。
                            </td>
                            <td class="hy-body-text">
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_C2134A47" class="colorblack">触屏丝印的自动生产线控制系统</a>
                            </td>
                            <td class="hy-body-text">
                                应用于智能手机、平板电脑、平板电子书等智能终端触屏的方案
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_7E032835" class="colorblack link-hyfa">MT4414TE</a>
                                <a href="../productById_36DD0E5B" class="colorblack link-hyfa">F122-D1608T</a>
                                <a href="../productById_9AC921F4" class="colorblack link-hyfa">FD422-CA-000</a>
                                <a href="../productById_2AE58289" class="colorblack link-hyfa">FM860-AA-000</a>
                                <a href="../productById_0C31A6F6" class="colorblack link-hyfa">2M412</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_AED2A938" class="colorblack">电脑薄刀纵切机 | CANopen总线</a>
                            </td>
                            <td class="hy-body-text">
                                Kinco基于CANopen总线的电脑薄刀纵切机解决方案
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_024384D8" class="colorblack link-hyfa">MT4512T</a>
                                <a href="../productById_36DD0E5B" class="colorblack link-hyfa">F122-D1608T</a>
                                <a href="../productById_9AC921F4" class="colorblack link-hyfa">FD422-CA-000</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_0EA51B04" class="colorblack">玻璃四边磨边机</a>
                            </td>
                            <td class="hy-body-text">
                                某著名企业的四边磨边机应用Kinco步科CANopen总线解决方案
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_709FF83B" class="colorblack link-hyfa">MT4523TE</a>
                                <a href="../productById_36DD0E5B" class="colorblack link-hyfa">F122-D1608T</a>
                                <a href="../productById_C3C4C471" class="colorblack link-hyfa">JD620-AA-000</a>
                                <a href="../productById_23C2526A" class="colorblack link-hyfa">FD422-AA-000</a>
                                <a href="../productById_9AC921F4" class="colorblack link-hyfa">FD422-CA-000</a>
                                <a href="../productById_11BFF34E" class="colorblack link-hyfa">FD422-LA-000</a>
                                <a href="../productById_C1A5BEC9" class="colorblack link-hyfa">FD622-AA-000</a>
                                <a href="../productById_310CDA58" class="colorblack link-hyfa">FD622-CA-000</a>
                                <a href="../productById_9C0DA9C6" class="colorblack link-hyfa">FD622-LA-000</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_F583B15D" class="colorblack">3D打印机 | 全闭环控制</a>
                            </td>
                            <td class="hy-body-text">
                                步科伺服驱动器实现全闭环控制
                            </td>
                            <td class="hy-body-text">
                                <a href="../productById_9FE0E07D" class="colorblack link-hyfa">FD122-CA-000</a>
                        </tr>
                        <tr>
                            <td class="hy-body-text">
                                <i class=" icon-angle-right icon-large colorred"></i>
                                <a href="detail_8778FB4B" class="colorblack">锻压机床</a>
                            </td>
                            <td class="hy-body-text">
                                Kinco步科大力士SV100-4T-1320G，成功应用在曲柄式锻压成型机上
                            </td>
                            <td class="hy-body-text">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            <ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="query_41878854">2</a></li> <li><a href="query_41878854" rel="next">&raquo;</a></li></ul>
        </div>
    </div>
</div>
