@model LinqEF.article

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <ul class="pagination"></ul>
</div>

@section scripts{
<script src="/Scripts/pager.js"></script>
<script>
    $(function () {
        $('.pagination').bsPagination({
            totalRecord: 200,
            recordPerPage: 10,
            currentPage: 3,
            setLinkAttr: function (page) {
                return 'href="javascript:alert(' + page + ')"';
            }
        });


        //$('.pagination').on('click', 'a', function () {
        //    $('.pagination').bsPagination({
        //        totalRecord: 200,
        //        currentPage: $(this).data('page'),
        //        setLinkAttr: function (page) {
        //            return 'href="#/page/' + page + '"';
        //        }
        //    });
        //});
    })
    
</script>

}