@model LinqEF.article

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav navbar-nav">
    <li class="active"><a href="#">Tijuana</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site Select<span class="caret"></span></a>
        <ul id="ssi" class="dropdown-menu" id="projectSelectorDropdown"></ul>
    </li>
</ul>





<div class="text-center">
    <ul class="pagination"></ul>
</div>

@section scripts{
    <script>
        function test2() {
            var ss = "<li class='arrow'></li>"
                  + "                      <li class='nav-menu-hmi' onclick= 'window.location.href=#'>                         "
                  + "                         <span><a class='nav-menu-sub-title' href='/home/ProductList/1'>alwjfowajfoawf</a></span><br />"
                  + "                         <span>                                                                                        "
                  + "                             <a class='nav-menu-sub-detail' href='productById_079E9298'>MT4230T</a>&nbsp;&nbsp;        "
                  + "                             <a class='nav-menu-sub-detail' href='productById_0E561AA6'>MT4434T</a>&nbsp;&nbsp;        "
                  + "                             <a class='nav-menu-sub-detail' href='productById_1407F555'>MT4532T</a>&nbsp;&nbsp;        "
                  + "                             <a class='nav-menu-sub-detail' href='productById_7D10A40B'>F7</a>&nbsp;&nbsp;             "
                  + "                             <a class='nav-menu-sub-detail' href='productById_D7405566'>F10</a>&nbsp;&nbsp;            "
                  + "                         </span>"
                  + "                     </li>";
            $("#ssi").html(ss);
        }
        

        function test() {
            var rows = 5;
            var list = document.getElementById("projectSelectorDropdown");
            for (var i = 0; i < rows; i++) {
                var opt = table.getValue(i, 0);
                var li = document.createElement("li");
                var text = document.createTextNode(opt);
                text.href = "#";
                li.appendChild(text);
                // alert("option " + opt); 
                list.appendChild(li);
            }
        }

        $(function () {
            test2();
            $('.dropdown-toggle').dropdown();
        })
</script>

<script src="/Scripts/pager.js"></script>
<script>
    function ss() {
        var lst = $("option");
        $.each(lst, function (i,n) {
            console.log($(n).text());
        })
    }

    $(function () {
        ss();
        $('.pagination').bsPagination({
            totalRecord: 200,
            recordPerPage: 10,
            currentPage: 3,
            setLinkAttr: function (page) {
                return 'href="javascript:alert(' + page + ')"';
            }
        });


        //$('.pagination').on('click', 'a', function () {
        //    $('.pagination').bsPagination({
        //        totalRecord: 200,
        //        currentPage: $(this).data('page'),
        //        setLinkAttr: function (page) {
        //            return 'href="#/page/' + page + '"';
        //        }
        //    });
        //});
    })
    
</script>

}